body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-cover bg-fixed bg-[url('/public/bg.png')];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 90%;
}

@tailwind base;
@tailwind components;

@tailwind utilities;

.btn-menu-profile {
  @apply w-full font-bold py-3 px-12 mt-4 mr-4 rounded;
}
.btn-menu-profile {
  @apply bg-white border border-gray-300;
}
.btn-menu-profile:hover {
  @apply hover:bg-gray-100;
}
.btn-menu-profile.active {
  @apply bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 text-white;
}
.btn-menu-profile.active:hover {
  @apply hover:from-indigo-700 hover:via-purple-700 hover:to-pink-700;
}

